<app-login-header></app-login-header>
<h1>Forgot Password</h1>

<form (ngSubmit)="sendVerificationCode()">
  <label for="email">Email ID</label>
  <input id="email" [(ngModel)]="email" name="email" autocomplete="new-password" type="email">
  
  <div class="form-control-button">
    <button type="submit" class="button">Send Verification Code</button>
  </div>
</form>

<div class="footer">
  <div class="footer-details">
    <a [routerLink]="['/login']" routerLinkActive="router-link-active">Back to login</a>
  </div>
</div>
