<div class="mobile-container">
    <div class="container">
        <div class="row">
            <img class="img"
            src="./assets/Images/Main.png"/> 
        </div>
        <div class="row">
        <p>Apartment</p>         
        </div>
        <div class="row1" id="new">
            <p>Duration</p>
            </div>
            <div>
            <input  class ="one" type="date" value="date" style="border-color:#684EDC">
        </div>
        <div class="row2">
            <p>Financial goal value</p>
            </div>
            <div>
            <input class ="three" type="number" placeholder="5000000" > 
        </div>
        <button type="button" class="btn" (click)="onSave()">Save</button>
    </div>
</div>

