<div class="mobile-container">
    <h3>Final Steps!</h3><br>
    <p style="color:#483699 ;">Current goals recommended for you. <br> Tap on 5 goals to proceed ahead</p>
    <div>
        <button class="buttons" (click)="getValue('Marrige')">Marrige</button>
        <button class="buttons" (click)="getValue('Childern Education')">Childern Education</button>
        <button class="buttons" (click)="getValue('car')">car</button>
        <button class="buttons" (click)="getValue('villa')">villa</button>
        <button class="buttons" (click)="getValue('Apartment')">Apartment</button>
        <button class="buttons" (click)="getValue('Buy Land')">Buy Land</button>
        <button class="buttons" (click)="getValue('Marrige Anniversary')">Marrige Anniversary</button>
        <button class="buttons" (click)="getValue('Parents Marrige Anniversary')">Parents Marrige Anniversary</button>
        <button class="buttons" (click)="getValue('Super cars')">Super cars</button>
        <button class="buttons" (click)="getValue('Entrepreneurship')">Entrepreneurship</button>
        <button class="buttons" (click)="getValue('Family Planning')">Family Planning</button>
        <button class="buttons" (click)="getValue('Super Cars')">Super Cars</button>
        <button class="buttons" (click)="getValue('Superbhike')">Superbhike</button>
        <button class="buttons" (click)="getValue('Tommorrowland')">Tommorrowland</button>
        <button class="buttons" (click)="getValue('Higher Education')">Higher Education</button>
        <button class="buttons" (click)="getValue('Family Foreign Tour')">Family Foreign Tour</button>
    </div>

    <div class="container2">
        <button class="skipbutton"> Skip</button>
        <button class="accountbutton">Create Account</button>
    </div>
</div>