<form>
<h1> Forgot password</h1>
<div class =" form-control">
    <div class= "form-control-details">
    <label for="email">Email ID</label><br>
</div>
    <input id = "email" autocomplete = "new-password" type ="text">
</div>
<div class =" form-control">
<button>
<a [routerLink]="['/codeverification']" routerLinkActive="router-link-active" >Send Verification code</a>
</button>
</div>
<div>
    <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Back to login</a>
    </div>
    </form>