
<div class="login-app-container">
   

        <p>22:00 | 100MB/s</p>
    
      <img src="../../../assets/images/wifi.jpg"  class="img-wifi"/>
      <div className="images">
      <img src="../../../assets/images/person.png"  class="img-person"/>
   
      <img src="../../../assets/images/bank.png" class="img-bank"/>
   
      <img src="../../../assets/images/money.png" class="img-money"/>
   
      <img src="../../../assets/images/note.png" class="img-note"/>
   
      <img src="../../../assets/images/path.svg" class="img-path"/>
   
      <img src="../../../assets/images/line.svg" class="img-line" />
    </div>
   </div>
