.header{
    padding-left: 19px;
    padding-top: 73px;
    padding-right: 19px;
    width:412px;
}
span{
    padding-left: 20px;
    padding-top: 0px;
    
}
.top{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
th{
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.container{
    padding-left: 16px;
    width: 412px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns : auto auto auto;
    column-gap: 15px;
    padding-right: 16px;
    
}
.grid-item1{
    background-color: #A291EE;
    border-radius: 10px;
    height: 109px;
    width: 109px;
}
.grid-item2{
    background-color: #DBEE91;
    border-radius: 10px;
    height: 109px;
    width: 109px;
}
.grid-item3{
    background-color: #91EED2;
    border-radius: 10px;
    height: 109px;
    width: 109px;
    
}

/*.chart{
    background-color: #C391EE;
    border-radius: 10px;
    width: 412px;
}
.chart1{
    padding-left: 10px;
    padding-right: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
}
*/
.note-image{
    position: absolute;
    padding-left: 5px;
    padding-top: 0px;
}
.note-image2{
    position: absolute;
    padding-top: 0px;
    
}

.img-note{
    max-height: 82px;
}
.img-note2{
    max-height: 113px;
}
.note-image2 img{
    width: 90px;
    height: 90px;
}
body{
    background-color: #F3EEFE;
    background-image: linear-gradient(#F3EEFE, #C391EE);
    width: 412px;
}
.card{
    max-width: 400px;
    padding: 5px;
}
.row{
    padding:5px;
    padding-left: 10px;
    width: 400px;
}
.row1{
    
    background-color:#A291EE;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    
}
.triptext {
    font-size: 16px;
}