.New password{
    width: 106px;
    height: 26px;
}

.proceed-button{
    background-color: rgba(104, 78, 220, 1);
    border-radius: 20px;
    border: none;
    height: 38px;
    width: 323px;
    margin-top: 29px;
    color: white;
}