<div class="mobile-container">
    <div class="row">
        <div class="col">
            Total Value
        </div>
        <div class="col">
            Total growth
        </div>
        <div class="col">
            Investments
        </div>
    </div>
    <div class="row row-color-2">
        <div class="col">
            $3446.0
        </div>
        <div class="col">
            $446.00
        </div>
        <div class="col">
            <p style="margin-left:30px">36</p>
        </div>
    </div>
    <hr>


    <div class="row ">
        <div class="col2">
            <b style="font-size: 20px;margin-left: 10px;">High Risk</b>

            <div class="dropdown">
                <img class="image-container"
                    style="height:30px;width:30px;cursor:pointer;position: absolute;left:210px;bottom: 0;top: -20px;"
                    src="assets/images/filter.png">
                <div class="dropdown-content">
                    <a>Yearly View</a>

                    <a>Monthly View</a>

                    <a>Weekly View</a>
                    <div class="calendar-link">
                        <a>Calendar &#9656;</a>
                        <div class="calendar-dropdown">
                            <div class="box"></div>
                            <div class="box3"></div>
                            <div class="box4"></div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="card1" style="margin-top:20px">
                <div style="display: flex;"><span style="font-size:50px;color: #FFFFFF;">85%</span>
                    <p style="margin-top: 40px;color: #FFFFFF;">cost</p>
                </div>
                <span style="color: #2CFF41;">Increase in Average</span>
                <br>
                <br>
                <br>

                <span class="datetext" style="color:#FFFFFF ;">07 may,2023</span>

            </div>

        </div>

    </div>

    <div class="row ">
        <div class="col2">
            <b style="font-size: 20px;margin-left: 10px;">Medium Risk</b>
            <div class="dropdown">
                <img class="image-container"
                    style="height:30px;cursor:pointer;position: absolute;left:160px;bottom: 0;top: -20px;"
                    src="assets/images/filter.png">
                <div class="dropdown-content">
                    <a>Yearly View</a>


                </div>
            </div>


            <div class="card1" style="margin-top:20px">
                <div style="display: flex;"><span style="font-size:50px;color: #FFFFFF;">65%</span>
                    <p style="margin-top: 40px;color: #FFFFFF;">cost</p>
                </div>
                <span style="color: #2CFF41;">Increase in Average</span>
                <br>
                <br>
                <br>

                <span class="datetext" style="color:#FFFFFF ;">07 may,2023</span>
            </div>

        </div>

    </div>
    <div class="row ">
        <div class="col2">
            <b style="font-size: 20px;margin-left: 10px;">Low Risk</b>
            <div class="dropdown">
                <div class="image-container">
                    <img style="height:30px;cursor:pointer;position: absolute;left:200px;bottom: 0;top: -20px;"
                        src="assets/images/filter.png">
                </div>
                <div class="dropdown-content">
                    <a>Yearly View</a>

                    <a>Monthly View</a>

                    <a>Weekly View</a>
                    <div class="calendar-link">
                        <a>Calendar &#9656;</a>
                        <div class="calendar-dropdown">
                            <div class="box"></div>
                            <div class="box3"></div>
                            <div class="box4"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card1" style="margin-top: 20px;">
                <div style="display: flex;"><span style="font-size:50px;color: #FFFFFF;">56%</span>
                    <p style="margin-top: 40px;color: #FFFFFF;">cost</p>
                </div>
                <span style="color: #2CFF41;">Increase in Average</span>
                <br>
                <br>
                <br>


                <span class="datetext" style="color:#FFFFFF ;">07 may,2023</span>
            </div>

        </div>

    </div>


    <hr>


    <div style="display: flex; gap: 15px;margin-top: 20px;align-items: center;margin-left: 30px;">
        <img src="assets/images/funds.png" alt="Funds">
        <img src="assets/images/Allocation.png" alt="Allocation">
        <img src="assets/images/History.png" alt="History">
        <img src="assets/images/performance.png" alt="Performance">

    </div>
    <div style="display:flex;gap: 28px;font-size: 13px;margin-left: 30px;">
        <p>Funds</p>
        <p>Allocation</p>
        <p>History</p>
        <p>Performance</p>

    </div>
    <div><img style="height: 30px;margin-left: 160px;" src="assets/images/slider.png"></div>


    <hr>



    <h5 style="font-size:25px;margin-left: 15px;">Goal Setting</h5>
    <div class="card-body">

        <h2 style="margin-left:10px ;margin-top: 10px;">Long term</h2>
        <div style="display:flex ;">
            <p style="margin-left:10px ;">Equity Investment </p>
            <p style="margin-left: 130px;font-size:18px;color:#483699;"><b>70%</b></p>
        </div>
        <hr style="width:320px">

        <h2 style="margin-left:10px ;margin-top: 10px;">Short term</h2>
        <div style="display:flex ;">
            <p style="margin-left:10px ;">Debt,Liquid funds, G sec</p>
            <p style="margin-left: 77px;font-size:18px;color:#483699;"><b>20%</b></p>
        </div>
        <hr style="width:320px">
        <h2 style="margin-left:10px ;margin-top: 10px;">Medium term</h2>
        <div style="display:flex ;">
            <p style="margin-left:10px ;">Mutual funds,FD</p>
            <p style="margin-left: 130px;font-size:18px;color:#483699;"><b>10%</b></p>
        </div>


    </div>
</div>