.card {
    width: fit-content;
    height: fit-content;
    margin-left: 400px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.container .header {
    color: #483699;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
    display: flex;
}

.header img {
    height: 20px;
    margin-left: 100px;
    margin-right: 20px;
    ;
}

.header1 {
    color: #694FDC;
    gap: 30px;
    display: flex;


}

.header1 h3 {
    font-size: 15px;
    margin-left: 20px;
}

.header-body {
    color: #505050;
    gap: 30px;
    display: flex;
}

.header-body p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;

}

.risk {
    color: #505050;
    margin-left: 20px;
    display: flex;
}

.risk h4 {
    font-size: 20px;
    margin-left: 20px;

}

.risk img {
    height: 40px;
    margin-left: 200px;
}



.card2 {
    width: 1200px;

}

.container1 {
    display: flex;
    justify-content: center;
    /* Horizontally center the container */
    align-items: center;
    flex-direction: column;

}

.box1 {
    width: 330px;
    height: 200px;
    background-color: #483699;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 20px;


}

.goals h1 {
    font-size: 30px;
    font-style: normal;
    margin-left: 20px;



}

.card-body {
    line-height: 5px;
    border-style: inset;
    margin-left: 20px;
    margin-top: 15px;
    height: 250px;
    counter-set: right;
    width: 340px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card-body h2 {
    color: #483699;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;

}

.card-body p {
    margin-left: 10px;
}



.risk .dropdown {
    position: relative;
    display: inline-block;


}

.risk .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.risk .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.risk .dropdown .dropdown-content a:hover {
    background-color: #ddd;
}

.risk .dropdown:hover .dropdown-content {
    display: block;
}




.risk2 .dropdown {
    position: relative;
    display: inline-block;


}

.risk2 .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.risk2 .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.risk2 .dropdown .dropdown-content a:hover {
    background-color: #ddd;
}

.risk2 .dropdown:hover .dropdown-content {
    display: block;
}


.risk1 .dropdown {
    position: relative;
    display: inline-block;


}

.risk1 .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);


}

.risk1 .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.risk1 .dropdown .dropdown-content a:hover {
    background-color: #ddd;
}

.risk1 .dropdown:hover .dropdown-content {
    display: block;
}



































.container {
    height: fit-content;
    width: 420px;
    background-color: #FFFFFF;

    padding: 20px;
    margin-top: 2px;

    border-radius: 10px;

    box-shadow: 0px 0px 10px rgb(152, 152, 152);
    margin-left: 400px;
    margin-bottom: 80px;
}