
<body>
    <div class="top">
        <div class="header">
            <div class="profile">
                <img src ="/assets/images/profile.png" alt ="profile pic" style="float:right">
                <img routerLink="/notifications" src ="/assets/images/notificationbell.png" alt ="profile pic" style="float:right">
            </div>
            <h3>Hello {{name}}</h3>    
        </div>
        <span style="color: #483699; font-size:xx-small;"> Add funds to enjoy the best possibilites on this app</span>
    </div>
    notification cards
    <div class="cards" >
        <div class ="row">
            <div class = "card-body">
            <span class="text">goal name</span>
            <span class="text">days left</span>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class ="row">
            <div class = "card-body">
            <span class="text">goal name</span>
            <span class="text">days left</span>
            </div>
        </div>
    </div>
    <div class="cards">
        <div class ="row">
            <div class = "card-body">
            <span class="text">goal name </span>
            <span class="text">days left</span>
            </div>
        </div>
    </div>
</body>
